<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>background_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{320,568}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,568}}</string>
			<key>sourceSize</key>
			<string>{320,568}</string>
		</dict>
		<key>bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,916},{42,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{42,36}}</string>
			<key>sourceSize</key>
			<string>{42,38}</string>
		</dict>
		<key>bullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,52},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>bullet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,2},{48,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,14}}</string>
			<key>sourceSize</key>
			<string>{48,14}</string>
		</dict>
		<key>enemy1_blowup_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,880},{34,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,6},{34,24}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>enemy1_blowup_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,701},{34,32}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{34,32}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>enemy1_blowup_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,954},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>enemy1_blowup_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,737},{32,32}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>enemy1_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,844},{34,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{34,24}}</string>
			<key>sourceSize</key>
			<string>{38,28}</string>
		</dict>
		<key>enemy2_blowup_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,562},{110,169}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{110,169}}</string>
			<key>sourceSize</key>
			<string>{110,173}</string>
		</dict>
		<key>enemy2_blowup_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,450},{110,169}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{110,169}}</string>
			<key>sourceSize</key>
			<string>{110,173}</string>
		</dict>
		<key>enemy2_blowup_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,338},{110,169}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{110,169}}</string>
			<key>sourceSize</key>
			<string>{110,173}</string>
		</dict>
		<key>enemy2_blowup_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,226},{110,169}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{110,169}}</string>
			<key>sourceSize</key>
			<string>{110,173}</string>
		</dict>
		<key>enemy2_blowup_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,114},{110,169}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{110,169}}</string>
			<key>sourceSize</key>
			<string>{110,173}</string>
		</dict>
		<key>enemy2_blowup_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,668},{94,133}}</string>
			<key>offset</key>
			<string>{-5,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,9},{94,133}}</string>
			<key>sourceSize</key>
			<string>{110,173}</string>
		</dict>
		<key>enemy2_blowup_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,572},{94,133}}</string>
			<key>offset</key>
			<string>{-5,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,8},{94,133}}</string>
			<key>sourceSize</key>
			<string>{110,173}</string>
		</dict>
		<key>enemy2_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{110,164}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{110,164}}</string>
			<key>sourceSize</key>
			<string>{112,172}</string>
		</dict>
		<key>enemy2_hit_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{110,164}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{110,164}}</string>
			<key>sourceSize</key>
			<string>{112,172}</string>
		</dict>
		<key>enemy2_fly_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,572},{110,166}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{110,166}}</string>
			<key>sourceSize</key>
			<string>{112,172}</string>
		</dict>
		<key>enemy2_hit_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{110,170}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{110,170}}</string>
			<key>sourceSize</key>
			<string>{112,172}</string>
		</dict>
		<key>enemy3_blowup_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,858},{46,60}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,62}</string>
		</dict>
		<key>enemy3_blowup_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,841},{46,60}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,62}</string>
		</dict>
		<key>enemy3_blowup_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,830},{46,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,62}}</string>
			<key>sourceSize</key>
			<string>{46,62}</string>
		</dict>
		<key>enemy3_blowup_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,903},{46,52}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{46,52}}</string>
			<key>sourceSize</key>
			<string>{46,62}</string>
		</dict>
		<key>enemy3_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,810},{46,60}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,66}</string>
		</dict>
		<key>enemy3_hit_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,764},{46,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{46,64}}</string>
			<key>sourceSize</key>
			<string>{46,66}</string>
		</dict>
		<key>enemy3_hit_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,810},{46,60}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,66}</string>
		</dict>
		<key>enemy4_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,771},{39,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{39,68}}</string>
			<key>sourceSize</key>
			<string>{39,70}</string>
		</dict>
		<key>enemy5_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,864},{38,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,58}}</string>
			<key>sourceSize</key>
			<string>{38,58}</string>
		</dict>
		<key>game_pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,994},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>game_pause_hl.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,994},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>hero_blowup_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,764},{66,82}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{66,82}}</string>
			<key>sourceSize</key>
			<string>{68,84}</string>
		</dict>
		<key>hero_blowup_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,742},{66,82}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{66,82}}</string>
			<key>sourceSize</key>
			<string>{68,84}</string>
		</dict>
		<key>hero_blowup_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,701},{66,82}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{66,82}}</string>
			<key>sourceSize</key>
			<string>{68,84}</string>
		</dict>
		<key>hero_blowup_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,906},{44,52}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,13},{44,52}}</string>
			<key>sourceSize</key>
			<string>{68,84}</string>
		</dict>
		<key>hero_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,674},{66,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{66,82}}</string>
			<key>sourceSize</key>
			<string>{68,84}</string>
		</dict>
		<key>hero_fly_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,769},{66,80}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{66,80}}</string>
			<key>sourceSize</key>
			<string>{68,84}</string>
		</dict>
		<key>loading0.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,60},{2,3}}</string>
			<key>offset</key>
			<string>{-54,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,13},{2,3}}</string>
			<key>sourceSize</key>
			<string>{124,25}</string>
		</dict>
		<key>loading1.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,810},{32,25}}</string>
			<key>offset</key>
			<string>{-46,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,25}}</string>
			<key>sourceSize</key>
			<string>{124,25}</string>
		</dict>
		<key>loading2.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,837},{72,25}}</string>
			<key>offset</key>
			<string>{-23,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{72,25}}</string>
			<key>sourceSize</key>
			<string>{124,25}</string>
		</dict>
		<key>loading3.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,674},{116,25}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{116,25}}</string>
			<key>sourceSize</key>
			<string>{124,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameArts.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fa4bb2993bbdc5f94430b3f3965e6830$</string>
		<key>textureFileName</key>
		<string>gameArts.png</string>
	</dict>
</dict>
</plist>
