<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>background_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{720,1280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,1280}}</string>
			<key>sourceSize</key>
			<string>{720,1280}</string>
		</dict>
		<key>bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,1037},{95,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{95,79}}</string>
			<key>sourceSize</key>
			<string>{95,85}</string>
		</dict>
		<key>bullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,2},{13,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,31}}</string>
			<key>sourceSize</key>
			<string>{13,31}</string>
		</dict>
		<key>bullet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,210},{108,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,31}}</string>
			<key>sourceSize</key>
			<string>{108,31}</string>
		</dict>
		<key>enemy1_blowup_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,1978},{79,59}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,12},{79,59}}</string>
			<key>sourceSize</key>
			<string>{85,77}</string>
		</dict>
		<key>enemy1_blowup_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,1368},{79,69}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,8},{79,69}}</string>
			<key>sourceSize</key>
			<string>{85,77}</string>
		</dict>
		<key>enemy1_blowup_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,1281},{85,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,77}}</string>
			<key>sourceSize</key>
			<string>{85,77}</string>
		</dict>
		<key>enemy1_blowup_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,1449},{69,73}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{69,73}}</string>
			<key>sourceSize</key>
			<string>{85,77}</string>
		</dict>
		<key>enemy1_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,1978},{79,59}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{79,59}}</string>
			<key>sourceSize</key>
			<string>{85,63}</string>
		</dict>
		<key>enemy2_blowup_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,511},{247,385}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{247,385}}</string>
			<key>sourceSize</key>
			<string>{247,391}</string>
		</dict>
		<key>enemy2_blowup_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1446,2},{247,385}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{247,385}}</string>
			<key>sourceSize</key>
			<string>{247,391}</string>
		</dict>
		<key>enemy2_blowup_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059,2},{247,385}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{247,385}}</string>
			<key>sourceSize</key>
			<string>{247,391}</string>
		</dict>
		<key>enemy2_blowup_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,1284},{247,385}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{247,385}}</string>
			<key>sourceSize</key>
			<string>{247,391}</string>
		</dict>
		<key>enemy2_blowup_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1284},{249,385}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{249,385}}</string>
			<key>sourceSize</key>
			<string>{249,391}</string>
		</dict>
		<key>enemy2_blowup_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,1671},{217,305}}</string>
			<key>offset</key>
			<string>{-12,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,18},{217,305}}</string>
			<key>sourceSize</key>
			<string>{249,391}</string>
		</dict>
		<key>enemy2_blowup_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,1671},{215,305}}</string>
			<key>offset</key>
			<string>{-12,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,16},{215,305}}</string>
			<key>sourceSize</key>
			<string>{249,391}</string>
		</dict>
		<key>enemy2_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,1671},{247,371}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{247,371}}</string>
			<key>sourceSize</key>
			<string>{253,387}</string>
		</dict>
		<key>enemy2_hit_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,1671},{247,371}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{247,371}}</string>
			<key>sourceSize</key>
			<string>{253,387}</string>
		</dict>
		<key>enemy2_fly_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1671},{247,375}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{247,375}}</string>
			<key>sourceSize</key>
			<string>{253,387}</string>
		</dict>
		<key>enemy2_hit_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,1284},{247,385}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{247,385}}</string>
			<key>sourceSize</key>
			<string>{253,387}</string>
		</dict>
		<key>enemy3_blowup_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,898},{103,137}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{103,137}}</string>
			<key>sourceSize</key>
			<string>{103,139}</string>
		</dict>
		<key>enemy3_blowup_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,1055},{103,137}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{103,137}}</string>
			<key>sourceSize</key>
			<string>{103,139}</string>
		</dict>
		<key>enemy3_blowup_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,386},{103,137}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{103,137}}</string>
			<key>sourceSize</key>
			<string>{103,139}</string>
		</dict>
		<key>enemy3_blowup_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,2},{103,117}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,21},{103,117}}</string>
			<key>sourceSize</key>
			<string>{103,139}</string>
		</dict>
		<key>enemy3_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1041,251},{103,133}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{103,133}}</string>
			<key>sourceSize</key>
			<string>{103,149}</string>
		</dict>
		<key>enemy3_hit_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1041,251},{103,133}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{103,133}}</string>
			<key>sourceSize</key>
			<string>{103,149}</string>
		</dict>
		<key>enemy3_hit_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,243},{103,141}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{103,141}}</string>
			<key>sourceSize</key>
			<string>{103,149}</string>
		</dict>
		<key>enemy4_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,898},{89,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{89,155}}</string>
			<key>sourceSize</key>
			<string>{89,159}</string>
		</dict>
		<key>enemy5_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,1194},{85,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,131}}</string>
			<key>sourceSize</key>
			<string>{85,131}</string>
		</dict>
		<key>game_pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,1978},{64,67}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{64,67}}</string>
			<key>sourceSize</key>
			<string>{90,67}</string>
		</dict>
		<key>game_pause_hl.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,1978},{64,67}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{64,67}}</string>
			<key>sourceSize</key>
			<string>{90,67}</string>
		</dict>
		<key>hero_blowup_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1833,153},{149,187}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{149,187}}</string>
			<key>sourceSize</key>
			<string>{153,189}</string>
		</dict>
		<key>hero_blowup_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1833,2},{149,187}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{149,187}}</string>
			<key>sourceSize</key>
			<string>{153,189}</string>
		</dict>
		<key>hero_blowup_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,360},{149,187}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{149,187}}</string>
			<key>sourceSize</key>
			<string>{153,189}</string>
		</dict>
		<key>hero_blowup_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,107},{101,117}}</string>
			<key>offset</key>
			<string>{1,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,29},{101,117}}</string>
			<key>sourceSize</key>
			<string>{153,189}</string>
		</dict>
		<key>hero_fly_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,209},{149,187}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{149,187}}</string>
			<key>sourceSize</key>
			<string>{153,189}</string>
		</dict>
		<key>hero_fly_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,2},{149,181}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{149,181}}</string>
			<key>sourceSize</key>
			<string>{153,189}</string>
		</dict>
		<key>loading0.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,2039},{5,4}}</string>
			<key>offset</key>
			<string>{-122,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,32},{5,4}}</string>
			<key>sourceSize</key>
			<string>{279,56}</string>
		</dict>
		<key>loading1.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,1134},{71,54}}</string>
			<key>offset</key>
			<string>{-104,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,54}}</string>
			<key>sourceSize</key>
			<string>{279,56}</string>
		</dict>
		<key>loading2.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,153},{161,54}}</string>
			<key>offset</key>
			<string>{-52,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{161,54}}</string>
			<key>sourceSize</key>
			<string>{279,56}</string>
		</dict>
		<key>loading3.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,1978},{263,54}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{263,54}}</string>
			<key>sourceSize</key>
			<string>{279,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameArts-android.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2679c6f10af08d01caf967fa1e588829$</string>
		<key>textureFileName</key>
		<string>gameArts-android.png</string>
	</dict>
</dict>
</plist>
